DB
packages
App_Data
Areas
bin
Content
fonts
Properties
Scripts
Views
BackEnd-API/Ankandi-Back-End/Controllers/HomeController.cs
BackEnd-API/Ankandi-Back-End/App_Start/RouteConfig.cs
BackEnd-API/Ankandi-Back-End/App_Start/FilterConfig.cs
BackEnd-API/Ankandi-Back-End/App_Start/BundleConfig.cs
BackEnd-API/Ankandi-Back-End/Web.Release.config
BackEnd-API/Ankandi-Back-End/Web.Debug.config
BackEnd-API/Ankandi-Back-End/Web.config
BackEnd-API/Ankandi-Back-End/packages.config
BackEnd-API/Ankandi-Back-End/Global.asax.cs
BackEnd-API/Ankandi-Back-End/Global.asax
BackEnd-API/Ankandi-Back-End/favicon.ico
BackEnd-API/Ankandi-Back-End/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
BackEnd-API/Ankandi-Back-End/obj/Debug/Ankandi-Back-End.csproj.FileListAbsolute.txt
FrontEnd-REACT/src/setupTests.js
FrontEnd-REACT/src/reportWebVitals.js
FrontEnd-REACT/public/robots.txt
BackEnd-API/Ankandi-Back-End/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
